In [1]:
import pandas as pd

In [3]:
orders = pd.read_csv("orders.csv")

In [4]:
orders.head()

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipperID,freight
0,10248,VINET,5,2013-07-04,2013-08-01,2013-07-16,3,32.38
1,10249,TOMSP,6,2013-07-05,2013-08-16,2013-07-10,1,11.61
2,10250,HANAR,4,2013-07-08,2013-08-05,2013-07-12,2,65.83
3,10251,VICTE,3,2013-07-08,2013-08-05,2013-07-15,1,41.34
4,10252,SUPRD,4,2013-07-09,2013-08-06,2013-07-11,2,51.30

In [5]:
orders.tail()

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipperID,freight
825,11073,PERIC,2,2015-05-05,2015-06-02,NaN,2,24.95
826,11074,SIMOB,7,2015-05-06,2015-06-03,NaN,2,18.44
827,11075,RICSU,8,2015-05-06,2015-06-03,NaN,2,6.19
828,11076,BONAP,4,2015-05-06,2015-06-03,NaN,2,38.28
829,11077,RATTC,1,2015-05-06,2015-06-03,NaN,2,8.53